<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h6>Recommended Metrics</h6>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-3" *ngFor="let metric of metrics">
          <app-metric [metric]="metric"></app-metric>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h6>Recommended services</h6>
    </div>
    <div class="col-12 justify-content" *ngIf="showServiceSpinner">
      <div class="centerblock text-center">
        <loading-spinner class="text-center"></loading-spinner>
      </div>

    </div>
    <div class="col-12" *ngIf="!showServiceSpinner">
      <div class="row mt-3">
        <div class="col-sm-12 col-md-2 mb-5" *ngFor="let service of services">
          <app-service [service]="service" (serviceClicked)="fetchModelledDatas($event)"
            (serviceClicked)="fetchMetricData($event)"></app-service>
        </div>
      </div>
      <div class="row container">
        <div class="col-12">
          <button mat-stroked-button color="primary" class="float-right" (click)="moreContent()">More
            services</button>
        </div>

      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h6>Existing modelled data</h6>
    </div>
    <div class="col-12" *ngIf="showModelSpinner">
      <loading-spinner></loading-spinner>
    </div>
    <div class="col-12" *ngIf="!showModelSpinner">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 mt-3" *ngFor="let data of modelData">
          <app-modelled-data [title]="data.title"></app-modelled-data>
        </div>
      </div>
    </div>
  </div>
</div>
