@import'../../../variable-style.scss';

mat-card {
  border-radius: 50%;
  max-height: 80px;
  max-width: 80px;
  cursor: pointer;
}

.image-responsive {
  width: 100%;
  height: auto;
}

label {
  display: block;
  width: 200px;
}

a:hover {
  mat-card {
    background-color: $link-hover;
  }
}

a:active,
a:focus,
a:visited {
  mat-card {
    background-color: $link-active;
  }
}
