<nav class="navbar navbar-expand-lg  bg-light">
    <span class="navbar-brand">
        <img src="../../../assets/images/klipfolio-logo.png" class="img-logo" />
    </span>

    <div class="input-group-overlay d-none d-lg-flex mx-4 ">
        <input
            class="form-control appended-form-control"
            type="text"
            placeholder="Search..."
        />
        <div class="input-group-append-overlay">
            <span class="input-group-text">
                <button mat-flat-button color="primary">search</button>
            </span>
        </div>
    </div>
</nav>
