.percentage {
    color: palegreen;
}

.daylabel {
    font-size: 0.7rem;
}

mat-icon {
    font-size: 0.8rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
