<mat-card>
    <mat-card-content>
        <h6>
            <label>{{ metric.title }}</label>
        </h6>
        <div class="row">
            <div class="col-6">
                <strong><sup>$</sup> {{ metric.count }}</strong>
            </div>
            <div class="col-6">
                <div class="row no-gutters">
                    <label class="col-12 percentage">7%</label>
                    <label class="col-12 text-muted daylabel"
                        >vs previous 14 days</label
                    >
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
