mat-card {
    min-width: 200px;
    min-height: 100px;
}

.modelBg {
    background-image: url('../../../assets/images/data.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
